Package: com.haxi0.JailityJailbroken
Name: Jaility
Version: 1.0
Architecture: iphoneos-arm
Description: Jaility, but you don't have to sign it!
Maintainer: haxi0 <fabiomailboxgood@mail.ru>
Author: haxi0 <fabiomailboxgood@mail.ru>
Section: Applications
Icon: https://repo.haxi0-dev.com/assets/jaility.jpeg
