body {
    background-color: #232323;
    font-family: sans-serif ;
}

h1 {
    color: white;
    padding: 20px;
}

a:link {
    line-height: 60px;
    text-decoration: none;
    color: #0064FF;
    padding: 15px;
    background-color: rgb(71, 71, 71);
    border-radius: 10px;
}